@model IEnumerable<WebApplication1.Models.KnjigaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventarniBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pisac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodinaIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MestoIzdavanja)
        </th>
        <th>@Html.DisplayNameFor(model => model.Zanr.Zanr)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventarniBroj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pisac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodinaIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MestoIzdavanja)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Zanr.Zanr)</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KnjigaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KnjigaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KnjigaId })
        </td>
    </tr>
}

</table>
